  @import url(https://fonts.googleapis.com/css?family=Droid+Sans);



  body {
          font-family: "Myriad Pro Regular", sans-serif;
          margin-top: 70px;
          background: #eee;
          padding-top: 65px;
  }


  .container-empty-other {
          min-height: 500px
  }

  .container-fluid {
          max-width: 1100px;
  }

  .title_bar {
          text-align: left;
          background: #eee;
  }

  .title_bar .container-fluid {
          padding-bottom: 10px;
  }

  .title_bar h1 {
          font-size: 18pt;
          font-weight: bold;
          color: #111;
  }

  .title_bar h1 b {
          color: #f55;
          font-size: 20pt;
  }

  .main_template {
          text-align: left;
  }

  .main-page {
          background-color: #fff;
          padding-bottom: 15px;
          margin-top: 30px;
          margin-bottom: 15px;
  }


  .main_template .container-fluid {
          padding-bottom: 10px;
  }

  .main_template h1 {
          font-size: 18pt;
          font-weight: bold;
          color: #111;
  }

  .main_template h2 {
          text-align: center;
          font-size: 35pt;
          font-weight: bold;
          color: #222;
          padding-bottom: 10px;
  }

  .main_template h3 {
          text-align: center;
          font-weight: bold;
          font-size: 18pt;
          margin-top: 20px;
          margin-bottom: 30px;
  }

  .main_template .sidebar {
          padding-top: 10px;
  }

  .announce {
          list-style-type: none;
  }

  .announce .message {}

  .announce .date {}


  .main_template h3.research {
          font-size: 13pt;
          font-weight: bold;
          color: #222;
          line-height: 150%;
          margin-top: 10px;
  }

  .main_template h3.contact {
          font-size: 13pt;
          margin-top: 0px;
          margin-bottom: 0px;
          color: #222;
  }

  .main_template h3.news {
          font-size: 13pt;
          padding-top: 5px;
          padding-bottom: 5px;
          color: #222;
  }

  .main_template h3.home {
          font-size: 14pt;
          font-weight: bold;
          color: #222;
          line-height: 150%;
          margin-top: 10px;
  }

  .main_template h6.home {
          font-size: 11pt;
          color: #555;
          line-height: 150%;
          padding-bottom: 20px;
  }

  .main_template h6.research {
          font-size: 11pt;
          color: #555;
          line-height: 150%;
  }

  .main_template p {
          font-size: 10.5pt;
          color: #333;
          line-height: 200%;
  }

  .main_template p.news {
          font-size: 10.5pt;
          color: #333;
          line-height: 150%;
          margin-top: 0px;
          margin-bottom: 0px;
  }

  .main_template p.news_photo {
          font-size: 10.5pt;
          color: #333:;
          line-height: 150%;
          text-align: center;
          padding-top: 5px;
  }

  .main_template p.contact {
          font-size: 11pt;
          color: #333;
          line-height: 150%;
          margin-top: 0px;
          margin-bottom: 0px;
  }

  .main_template p.publication {
          padding-bottom: 10px;
  }

  .main_template p.publication a {
          font-weight: bold;
  }

  .main_template p.publication span {
          color: #fff;
  }

  .main_template span.news {
          color: #f66;
  }

  .main_template hr {
          border-color: #ccc;
  }

  .main_template hr.news {
          border-color: #ccc;
          padding-bottom: 0px;
  }

  .main_template img.members {}

  .main_template img.research {
          padding-top: 10px;
  }

  .main_template ul.news {
          list-style-type: disc;
  }

  .main_template li.news {
          font-size: 10.5pt;
          color: #444;
          line-height: 150%;
          margin-top: 5px;
          margin-bottom: 5px;
  }

  .main_template .thumbnail {
          border: 0;
          max-width: 200px;
          height: 180px;
  }


  .main_template .panel-footer {
          background: #fff;
  }

  .main_template .panel {
          background: #fff;
          max-width: 500px;
  }

  .footer {
          text-align: right;
          color: #666666;
          font-size: 8pt;
          padding: 30px 0;
          margin-top: 50px;
          background-color: #282828;
  }

  .videoWrapper {
          position: relative;
          padding-bottom: 56.25%;
          /* 16:9 */
          padding-top: 25px;
          height: 0;
          width: 100%;
  }

  .videoWrapper iframe {
          position: absolute;
          top: 0;
          left: 10%;
          width: 80%;
          height: 80%;
  }

  .dropdown:hover .dropdown-menu {
          display: block;
  }

  .centered {
          align-content: center;
  }


  #container {
          height: 100%;
          width: 100%;
          display: flex;
  }

  #leftThing {
          padding: 10px;
          width: 40%;
  }

  #middleThing {
          padding: 10px;
          width: 55%;
  }

  #rightThing {
          padding: 10px;
          width: 80%;
  }

  .project {
          height: 320px;
  }

  .mobile {}

  .real-time {
          border-right: dashed;
  }

  .security {
          border-right: dashed;
  }

  @media (max-width:1200px) {
          .project {
                  height: 285px;
          }

          .real-time {
                  border-right: none;
          }

          .security {
                  border-right: none;
          }
  }

  @media only screen and (max-width: 600px) {

          /* Mobile Version--Move logo to center*/
          .main-logo {

                  //padding-left:35%;





          }
  }

  /*Slider*/


  /*RTCSA 2020 Addition */

  .imp-date-entry {
          text-align: center;
          margin-top: 10px;
  }

  .imp-date-entry .title {
          font-weight: bold;
          text-decoration: underline;
          margin-bottom: 0;
          line-height: 8px;
  }

  .imp-date-entry .red {
          color: #FF0000;
  }

  .imp-date-entry .strike {
          text-decoration: line-through;


  }

  .imp-date-entry .date {
          font-size:
  }


  .transport img {
          height: 400px;
  }

  .city img {
          height: 340px;
  }


  /*RTCSA 2020 END*/

  .logo {
          font-size: 30px;
          color: #ffffff;
          padding-top: 5px;
          padding-left: 5px;

  }

  .sub {
          font-size: 14px;
          color: #ffffff;
          padding-bottom: 5px;
          padding-left: 5px;
  }

  .visa {}

  .container-empty-other p {
          font-size: 10.5pt;
          color: #333;
          line-height: 200%;
  }


  @media (max-width:768px) {
          .patch {
                  height: 575px;
          }



          .container-empty-other {
                  background: #ffffff;
                  padding-top: 70px;
                  padding-left: 40px;
                  text-align: justify;
                  padding-right: 40px;
          }

          body {
                  padding-top: 50px;
          }

          .logo {
                  font-size: 25px;
                  color: #ffffff;
                  font-weight: bold;
          }

          .sub {
                  font-size: 10px;
                  color: #ffffff;
                  font-weight: bold;
          }


          .bottom {
                  margin-top: 10px;
          }

          .text-news {
                  position: relative;
                  top: -285px;
                  z-index: 3;
                  margin-top: 0px;
                  color: #ffffff;
          }

          .img-responsive {
                  display: block;
                  width: 768px;
                  height: 490px;
          }

          .text-news>.top {

                  position: relative;
                  display: inline-block;
                  font-size: 47px;
                  line-height: 67px;
                  font-weight: 600;
                  padding-bottom: 5px;
          }

          .text-news>.bottom {
                  font-size: 25px;
                  line-height: 40px;
                  padding: 10px 0 50px;
                  font-weight: 300;
          }

  }

  @media (min-width:768px) {
          .patch {
                  height: 912px;
          }

          .container-empty-other {
                  background: #ffffff;
                  padding-top: 100px;
                  padding-left: 60px;
                  padding-right: 60px;
                  text-align: justify;
          }

          .bottom {
                  margin-top: 10px;
          }

          .text-news {
                  position: relative;
                  top: -500px;
                  z-index: 3;
                  margin-top: 0px;
                  color: #ffffff;
          }

          .img-responsive {
                  display: block;
                  width: 5000px;
                  height: 900px;

          }

          .text-news>.top {

                  position: relative;
                  display: inline-block;
                  font-size: 57px;
                  line-height: 67px;
                  font-weight: 700;
                  padding-bottom: 10px;
          }

          .text-news>.bottom {
                  font-size: 30px;
                  line-height: 40px;
                  padding: 10px 0 50px;
                  font-weight: 300;
          }
  }

  /*Slider End*/

  #middleThing #middleborder {
          border-left-style: dotted;
          border-right-style: dotted;
  }


  #wrapper #left {
          width: 50%;
          float: left;
  }

  #wrapper #right {
          width: 50%;
          float: right;
  }

  .more {
          display: none;
  }

  #show_more_btn {
          background-color: #282828;
          border: none;
          color: white;
          padding: 8px 16px;
          margin: 10px 10px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;

  }


  /*KEYNOTE*/

  .keynote-speaker img {

          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;

  }

  .keynote-speaker img {
          height: 300px;
          width: 281px;
  }

  .keynote-speaker .kn-name {
          text-align: center;
          margin-bottom: 0px;
  }

  .keynote-speaker>p {
          line-height: 1.4;
  }

  .keynote-speaker .kn-position {
          text-align: center;
          margin-bottom: 0px;

  }

  .keynote img {
          max-height: 400px;
          max-width: 350px;
  }

  @media only screen and (max-width: 400px) {
          .keynote img {
                  max-height: 340px;
                  max-width: 300px;
          }
  }

  .keynote-title {
          text-align: center;
          line-height: normal;
  }

  .keynote-title>p {
          margin-bottom: 0px;

  }

  .keynote-title-main-page {
          margin-top: 10px;
  }

  .keynote-title-main-page>p {
          text-align: center;
          margin-bottom: 0px;
          line-height: 1.4;
  }

  table .role {
          font-weight: 700;
  }



  #myBtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 99;
          outline: none;
          border: none;
          background-color: #080808;
          color: #666666;
          cursor: pointer;
          padding: 15px;
          border-radius: 50px;
          font-size: 18px;
  }

  #myBtn:hover {
          background-color: #555;
          /* Add a dark-grey background on hover */
  }


  /*Notice Cards*/
  .notice-card-shadow {
          position: relative;
  }

  .content-card {
          margin-top: 30px;
  }

  .notice-card {
          border-radius: 10px;
  }

  .notice-card {
          border-radius: 8px;
          box-shadow: 0 2px 8px #eee;
          margin-bottom: 20px;
          position: relative;
          z-index: 1;
          background: #eee;
  }

  .notice-card.card-information .content {
          padding: 40px 55px;
          text-align: justify;
  }

  .notice-card .content {
          padding: 20px 20px 10px 20px;
  }

  .notice-card .main-cat,
  .card .label {
          font-size: 21px;
          margin-bottom: 0px;
  }

  .notice-card-shadow:before {
          background-position: center bottom;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          bottom: -12%;
          content: "";
          display: block;
          left: -12%;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 0;
  }

